.orderComplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.orderComplete h1 {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--purple-dark-color);
  font-family: var(--page-heading-font-family);
}

.orderComplete ul {
  list-style-type: "\2713";
  padding-left: 1rem;
  color: var(--purple-dark-color);
}

.orderComplete li {
  padding-left: 1rem;
}

.orderComplete p {
  justify-content: center;
  font-size: var(--page-paragraph-font-size);
  font-weight: var(--page-paragraph-font-weight);
  margin-bottom: 1rem;
  color: black;
  font-family: var(--page-paragraph-font-family);
}

.grid {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.grid img {
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
}

.sampleReview {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.sampleReview h1 {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--purple-dark-color);
  font-family: var(--page-heading-font-family);
}

.spacing {
  margin-top: 20px;
}

/* nothing with screen size bigger than 600px */
@media (max-width: 600px) {
  .orderComplete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .orderComplete h1 {
    font-size: var(--mobile-page-heading-font-size);
    font-weight: var(--mobile-page-heading-font-weight);
  }

  .grid p {
    font-size: var(--mobile-page-paragraph-font-size);
    font-weight: var(--mobile-page-paragraph-font-weight);
  }

  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 21%;
    padding-right: 21%;
  }

  .sampleReview h1 {
    font-size: var(--mobile-page-heading-font-size);
    font-weight: var(--mobile-page-heading-font-weight);
  }
}
