.aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.aboutus h1 {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--purple-dark-color);
  font-family: 'Great Vibes';
}

.aboutus p {
  font-size: var(--page-paragraph-font-size);
  font-weight: var(--page-paragraph-font-weight);
  font-family: var(--page-paragraph-font-family);
  width: 35%;
  text-align: justify;
  text-justify: inter-word;
}