.itemCart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.itemCart img {
  height: 100px;
  width: 100px;
}

.productNamePicture {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.productNameDescription {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.productNameDescription h3 {
  margin: 0rem;
}

.productNameDescription p {
  opacity: 50%;
  margin: 0rem;
}

/* nothing with screen size bigger than 960px */
@media (max-width: 600px) {
  .itemCart {
    width: 100%;
    padding: 0.5rem;
  }
  .productNameDescription {
    text-align: left;
    margin-left: 0.25rem;
  }
  .productNameDescription h3 {
    font-size: 1rem;
  }

  .productNameDescription p {
    font-size: 0.7rem;
  }

  .mobileControlWidth {
    width: 100vw;
  }
}
