.itemCart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.itemCart img {
  height: 100px;
  width: 100px;
}

.productNamePicture {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
}

.productNameDescription {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
} 

.productNameDescription h3 {
  margin: 0rem;
}

.productNameDescription p {
  opacity: 50%;
  margin: 0rem;
}
