.orderContainer {
  display: flex;
  /* width: 100%; */
  flex-direction: column;
  align-items: center;
}

.orderSummaryContainer {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  align-items: center;
}

.alignRight {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.orderContainer p {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--primary-font);
  margin: 0;
  color: black;
}

.orderSummaryContainer h1 {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: var(--primary-font);
  margin: 0;
  color: black;
}

.headerOrderSummary h1 {
  font-size: var(--page-heading-font-size);
  font-weight: 400;
  color: var(--purple-dark-color);
  font-family: var(--page-heading-font-family);
  text-align: center;
}

.orderSummaryContainer h2 {
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: var(--primary-font);
  margin: 0;
  color: black;
}

.orderSummaryContainer p {
  text-align: center;
  font-weight: var(--page-paragraph-font-weight);
  font-size: var(--page-paragraph-font-size);
  font-family: var(--page-paragraph-font-family);
  font-style: normal;
  color: black;
}

.line {
  width: 19%;
  margin: 1px;
  height: 1px;
  background: black;
}

.spacing {
  margin: 20px;
}
