.eachAccordion {
  background-color: rgb(
    var(--purple-dark-color-rgb),
    var(--create-map-opacity)
  );
}

.text {
  font-family: var(--primary-font);
  font-weight: var(--accordion-font-weight);
  font-size: var(--accordion-title-font-size);
}
