.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

.sliderContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.item {
  background-color: rgb(
    var(--purple-dark-color-rgb),
    var(--create-map-opacity)
  );
}