#bodyid .create-new-menu-btn {
  background-color: black;
  border-radius: 8px;
}

.prodDescrption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.prodDescrption h1 {
  padding-top: 10px;
  text-align: center;
  color: var(--color-primary);
  font-size: var(--page-heading-font-size);
  font-weight: var(--page-heading-font-weight);
  font-family: var(--page-heading-font-family);
}

.prodDescrption h2 {
  color: var(--color-primary);
  font-size: var(--page-heading-2-font-size);
  font-weight: var(--page-heading-2-font-weight);
  font-family: var(--page-paragraph-font-family);
}

.prodDescrption ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: var(--color-primary);
}

.prodDescrption li {
  padding-left: 20px;
  position: relative;
}

.prodDescrption li::before {
  content: "\2713";
  position: absolute;
  left: 0;
  padding-top: 8px;
  color: var(--color-primary);
}

.twoColumns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Width restraint not touching middle line or screen right. */
  gap: 10rem;
  width: 75%;
  padding-right: 2rem;
}

.twoColumnFlexChild {
  flex: 1;
  width: 70%;
}

.flexChild {
  flex: 2;
  width: 70%;
}

.flexChild h1 {
  text-align: center;
  font-size: var(--page-heading-font-size);
  font-weight: var(--page-heading-font-weight);
  font-family: var(--page-heading-font-family);
  color: var(--color-primary);
}

.flexChild h2 {
  font-size: var(--page-heading-2-font-size);
  font-weight: var(--page-heading-2-font-weight);
  font-family: var(--page-heading-2-font-family);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

.flexChild p {
  font-size: var(--page-paragraph-font-size);
  font-weight: 400;
  font-family: var(--page-paragraph-font-family);
  color: var(--color-primary);
  margin: 0;
  padding: 0;
}

.flexChild ul {
  list-style-type: "\2713";
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: var(--color-primary);
}

.flexChild li {
  padding: 0;
  /* margin: 0; */
  padding-left: 1rem;
  margin: 0;
}

.flexChild img {
  width: 100%;
  height: 63%;
  position: center;
  align-content: center;
  object-fit: cover;
}

/* Mobile css */
.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.spacingBecauseOfImageBug {
  background-color: var(--color-primary);
  padding-bottom: 0px;
  margin-top: -5px;
}

.benefitsStyle {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 26.171%;
}

.picBenefitsStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: -5px;
}

.centerContent btn:hover {
  cursor: pointer;
}

.specialRequest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.specialRequest h1 {
  font-size: var(--page-heading-font-size);
  font-weight: 400;
  justify-content: center;
  color: var(--purple-dark-color);
  font-family: var(--primary-font);
  margin-bottom: -5px;
}

.specialRequest p {
  justify-content: center;
  text-align: center;
  width: 80%;
  color: var(--color-primary);
  font-size: var(--page-paragraph-font-size);
  font-weight: 400;
  font-family: var(--page-paragraph-font-family);
}

.mobileOffer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-left: 5%;
  margin-right: 5%;
}

.mobileOffer h1 {
  /* width: 80%; */
  font-size: var(--mobile-page-heading-font-size);
  font-weight: var(--mobile-page-heading-font-weight);
  font-family: var(--mobile-page-heading-font-family);
}
.mobileOffer h2 {
  font-size: var(--mobile-page-heading-2-font-size);
  font-weight: var(--mobile-page-heading-2-font-weight);
  font-family: var(--mobile-page-heading-2-font-family);
  margin: 0;
}
.mobileOffer p {
  font-size: var(--mobile-page-paragraph-font-size);
  font-weight: var(--mobile-page-paragraph-font-weight);
  font-family: var(--mobile-page-paragraph-font-family);
}

.mobileOffer ul {
  list-style-type: "\2713";
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: var(--color-primary);
}

.mobileOffer li {
  padding: 0;
  margin: 0;
  padding-left: 1rem;
  margin: 0;
}

.centerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

/* Medium Size Screen */
@media only screen and (max-width: 1500px) {
  .specialRequest p {
    font-size: var(--medium-page-paragraph-font-size);
  }

  .prodDescrption h1 {
    font-size: var(--medium-page-heading-font-size);
    font-weight: var(--medium-page-heading-font-weight);
  }

  .prodDescrption h2 {
    font-size: var(--medium-page-heading-2-font-size);
    font-weight: var(--medium-page-heading-2-font-weight);
  }
}

@media only screen and (max-width: 600px) {
  .prodDescrption h1 {
    padding-top: 10px;
    text-align: center;
    color: var(--color-primary);
    font-size: var(--mobile-page-heading-font-size);
    font-weight: var(--mobile-page-heading-font-weight);
    font-family: var(--mobile-page-heading-font-family);
  }

  .prodDescrption h2 {
    color: var(--color-primary);
    font-size: var(--mobile-page-heading-2-font-size);
    font-weight: var(--mobile-page-heading-2-font-weight);
    font-family: var(--mobile-page-paragraph-font-family);
  }

  .prodDescrption ul {
    list-style-type: none;
    color: var(--color-primary);
  }

  .prodDescrption li {
    padding-left: 20px;
    position: relative;
  }

  .prodDescrption li::before {
    content: "\2713";
    position: absolute;
    left: 0;
    padding-top: 0px;
    color: var(--color-primary);
  }

  .grid {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    grid-gap: 20px;
    place-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
  }

  .spacingBecauseOfImageBug {
    background-color: var(--color-primary);
    padding-bottom: 0px;
    margin-top: -5px;
  }

  .bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mapsLandingPage {
    font-family: var(--primary-font);
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .myCarousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mapsLandingPage h1 {
    display: flex;
    font-size: 3.5rem;
    font-weight: 400;
    justify-content: center;
    color: var(--purple-dark-color);
    font-family: "Great Vibes";
  }

  .mapsLandingPage ul {
    list-style-type: "\2713";
    padding-left: 1rem;
    color: var(--purple-dark-color);
  }

  .mapsLandingPage li {
    padding-left: 1rem;
  }

  .mapsLandingPage p {
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: black;
    font-family: var(--primary-font);
  }

  .mapsLandingPage h2 {
    color: var(--purple-dark-color);
  }

  .mapsLandingPage a {
    display: flex;
    justify-content: left;
  }

  .mapsLandingPage:hover button {
    cursor: pointer;
  }

  .description {
    /* margin-top: 3%; */
  }

  .description h2 {
    text-align: center;
  }

  .benefitsStyle {
    /* position: flex; */
    /* margin-top: 100px; */
    /* margin-bottom: 15px; */
  }

  .benefitsStyle {
    display: block;
    /* border-radius: 8px; */
    /* width: 100%; */
    /* height: 700px; */
    position: relative;
    width: 100%;
    padding-bottom: 26.171%;
    /* height: 1%; */
  }

  .picBenefitsStyle {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -5px;
  }
}
