html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* * {
  box-sizing: border-box;
} */

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}


:root {
  --purple-dark-color: #8657c7;
  --purple-light-color: #B483CD;
  --primary-font: "Source Sans Pro", sans-serif;
  --card-overlay-multiplier: 16; 
  --map-multiplier: 15; 
  --map-width: 24px;
  --map-height: 32px;
  --poster-width: 24px;
  --poster-height: 36px;
}

