.container {
  background-color: var(--purple-dark-color);
  width: 100%;
  font-family: var(--primary-font);
  font-weight: 400;
  color: white;
  font-size: 1.5rem;
  padding-top: 2%;
}

.grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: baseline;
  gap: 45px;
  padding-bottom: 4%;
  flex-wrap: wrap;
}

.centerElements {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 10px;
}

.container h3 {
  font-family: "Great Vibes";
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.container h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 2rem;
}

.container a {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.5rem;
}

.container a:hover {
  text-decoration: underline;
}

.support span {
  position: relative;
  display: block;
}

.iconsPaymentMethod span {
  padding-right: 10px;
}

@font-face {
  font-family: "Great-Vibes";
  src: url("../../public/fonts/GreatVibes-Regular.ttf");
  font-weight: 100;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .grid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 1px;
  }

  .container h3 {
    font-family: "Great Vibes";
    font-size: 2rem;
    font-weight: var(--mobile-page-heading-font-weight);
  }

  .container h2 {
    font-family: var(--primary-font);
    font-weight: var(--mobile-page-heading-font-weight);
    font-size: var(--mobile-page-heading-font-size);
  }

  .container a {
    font-family: var(--primary-font);
    font-weight: var(--mobile-page-paragraph-font-weight);
    font-size: var(--mobile-page-paragraph-font-size);
  }

  .support {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .followUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .centerElements h3 {
    font-family: "Great Vibes";
  }
}
