/* The navbar container */

.container {
  display: flex;
  width: 100%;
  padding-bottom: 3px;
  z-index: 1000000;
}

.navBar nav {
  display: block;
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-gap: 0px;
  justify-content: center;
  align-content: center;
  align-items: center;
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.45);
  background-color: var(--color-primary);
  width: 100%;
}

.logo a {
  float: left;
  color: var(--color-secondary);
  font-family: "Great-Vibes";
  font-size: 3rem;
  padding-left: 3%;
  z-index: 1000000;
}

.navbar {
  display: fixed;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.navbar a {
  align-items: center;
  align-content: center;
  color: var(--color-secondary);
  font-size: 1.2rem;
  font-family: var(--page-paragraph-font-family);
  font-weight: 400;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar li {
  display: inline-block;
  padding: 0 25px;
}

/* cart icon - right justified, size the cart*/
.cartnav a {
  float: right;
  /* color: var(--color-secondary); */
  padding-right: 4%;
}

.cartnav img {
  max-height: 50px;
  float: right;
}

.cartnav a:hover {
  transform: scale(1.2);
}

@font-face {
  font-family: "Great-Vibes";
  src: url("../../public/fonts/GreatVibes-Regular.ttf");
  font-weight: 100;
  font-style: normal;
}

@media screen and (max-width: 600px) {
  .container {
    padding-bottom: 0px;
    /* margin-top: 10px; */
    margin-bottom: 3px;
  }
  .grid {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 5%;
  }
  /* .logo a {
    font-size: 2rem;
    padding-left: 0%;
  } */

  .logo {
    padding-left: 10%;
  }

  .logo h1 {
    font-size: 2rem;
    font-family: "Great-Vibes";
    color: white;
  }

  .mobileLogo h1 {
    font-size: 2rem;
    font-family: "Great-Vibes";
    color: white;
    font-weight: 100;
  }
  .grid i {
    color: white;
    justify-content: left;
  }
}
