.container {
  background-color: var(--color-primary);
  width: 100%;
  display: flex;
  flex-direction: row;
  font-family: var(--primary-font);
  font-weight: 400;
  color: var(--color-secondary);
  font-size: 2rem;
  justify-content: center;
  align-content: center;
}
