.content {
  width: 80%;
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  font-family: var(--primary-font);
  font-weight: var(--mobile-page-paragraph-font-weight);
  font-size: var(--mobile-page-paragraph-font-size);
  text-align: center;

  margin-bottom: 2%;
}

.content p {
  font-family: var(--page-paragraph-font-family);
  font-weight: var(--page-paragraph-font-weight);
  font-size: var(--page-paragraph-font-size);
}

/* Grid that elements are in rows but carry over to the next row if they don't fit on the screen */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 2rem;
}

/* Mobile */
@media (max-width: 800px) {
  .content {
    width: 100%;
    margin: 0;
  }
  .content p {
    font-family: var(--mobile-page-paragraph-font-family);
    font-weight: var(--mobile-page-paragraph-font-weight);
    font-size: var(--mobile-page-paragraph-font-size);
  }
}
