.wrapper {
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centerObj {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.centerObj p {
  font-size: var(--page-paragraph-font-size);
  font-weight: var(--page-paragraph-font-weight);
  font-family: var(--page-paragraph-font-family);
}

.actionButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.newTag {
  font-family: var(--primary-font);
  font-size: 12px;
  background-color: white;
  color: var(--color-primary);
  padding: 1px;
  border-radius: 5px;
  margin-left: 10px;
  position: relative;
}

@media (max-width: 400px) {
  .centerObj p {
    font-size: var(--mobile-page-paragraph-font-size);
    font-weight: var(--mobile-page-paragraph-font-weight);
    font-family: var(--mobile-page-paragraph-font-family);
  }

  .actionButtons {
    font-size: var(--mobile-page-paragraph-font-family);
  }
}
