/* The navbar container */
/* .topnav {

  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
 */

.navBar nav {
  display: block;
  box-shadow: 0px 155px 3px 1px rgba(0, 0, 0, 0.25);
}

.topnav {
  background-color: white;
}

/* Navbar links */
.topnav a {
  float: left;
  color: #8657c7;
  text-align: center;
  padding: 8px 0px;
  font-family: "Great-Vibes";
  font-size: 7rem;
  padding-left: 2%;
}

/* Links - change color on hover */
.topnav a:hover {
  opacity: 95%;
}

/* cart icon - right justified, size the cart*/
.cartNav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  padding: 50px;
  font-size: 20px;
  padding-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.cartNav img {
  max-height: 50px;
  height: auto;
  left: 10000px;
  right: 100px;
  float:right;
  /* transform: scale(1.05); */
}

.cartNav a:hover {
  transform: scale(1.15);
}

/* .cartNav img:hover {
  transform: scaleX(-1);
} */

/* .column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

.promotionText {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  padding: 0px;
} */

@font-face {
  font-family: "Great-Vibes";
  src: url("../../public/fonts/GreatVibes-Regular.ttf");
  font-weight: 100;
  font-style: normal;
}
