.grid {
  display: flex;
  flex-direction: row;
  border-color: var(--color-primary);
}

.flexChild {
  flex: 2;
  border-color: var(--color-primary);
}

.descriptionContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 100%;
  padding: 7%;

  color: var(--color-primary);
  background-color: white;
}

.descriptionContent h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  font-family: var(--page-heading-font-family);
}

.descriptionContent p {
  font-size: var(--page-paragraph-font-size);
  font-weight: 400;
  font-family: var(--page-paragraph-font-family);
  text-align: center;
  width: 75%;
}

.picContainer {
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* ratio of the image.... */
}

.picStyle {
  position: absolute;
  width: 100%;
  height: 100%;
  /* margin-top: -5px; */
}

@media only screen and (max-width: 600px) {
  .descriptionContent h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: var(--mobile-page-heading-font-size);
    font-weight: var(--mobile-page-heading-font-weight);
    font-family: var(--mobile-page-heading-font-family);
  }

  .descriptionContent p {
    width: 100%;
    font-size: var(--mobile-page-paragraph-font-size);
    font-weight: var(--mobile-page-paragraph-font-weight);
    font-family: var(--mobile-page-paragraph-font-family);
  }

  .grid {
    display: flex;
    flex-direction: column;
    border-color: var(--color-primary);
  }

  .invertColor {
    background-color: var(--color-primary);
    color: black;
  }
}
