.container {
  column-count: 2;
  column-gap: 20px;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 50px;
  height: auto;
  float: right;
  padding-left: 10%;
  /* margin: 0 auto; */
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* margin-top: 0; */
  /* margin-bottom: 0; */
  /* padding: 0; */
  /* border: 0; */
  /* vertical-align: middle; */
  /* max-width: 100%; */
  /* height: auto; */
}

.mapsLandingPage h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.mapsLandingPage p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
