.box {
  padding-top: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  place-items: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.mapsImage {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 400px;
}

.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-bottom: 1%;
}

.mapsLandingPage {
  font-family: var(--primary-font);
  display: flex;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mapsLandingPage h1 {
  display: flex;
  font-size: 3.5rem;
  font-weight: 400;
  justify-content: center;
  color: var(--purple-dark-color);
  font-family: "Great Vibes";
}

.mapsLandingPage ul {
  list-style-type: "\2713";
  padding-left: 1rem;
  color: var(--purple-dark-color);
}

.mapsLandingPage li {
  padding-left: 1rem;
}

.mapsLandingPage p {
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  font-family: var(--primary-font);
}

.mapsLandingPage h2 {
  color: var(--purple-dark-color);
}

.mapsLandingPage a {
  display: flex;
  justify-content: left;
}

.mapsLandingPage:hover button {
  cursor: pointer;
}
