.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 5%
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 700px;
  border: 3px solid var(--purple-dark-color);
  border-radius: 8px 0 0 8px;
}

/* .accordion {
  display: block;
  box-shadow: rgb(26, 31, 51) 0px 0.5rem 1rem 0px;
  border-radius: 0.25rem;
  margin-bottom: 3.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
} */

.accordionBox {
  /* display: flex; */

  width: 350px;
  height: 700px;
  border-right: 3px solid var(--purple-dark-color);
  border-top: 3px solid var(--purple-dark-color);
  /* border-left: 3px solid var(--purple-dark-color); */
  border-bottom: 3px solid var(--purple-dark-color);
  border-radius: 0 8px 8px 0;
  overflow: hidden;
}

.accordion header {
  /* display: flexbox; */
  padding: 1.25rem;
  /* width: 100%; */
  /* overflow: hidden; */

  border-bottom: 1px solid var(--purple-dark-color);
  color: rgb(0, 0, 0);
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 600;

  line-height: 1.5rem;
  justify-content: right;
}

/* .accordion expanded {
  max-height: 1500px;
  transition: all 0.5s cubic-bezier(1, 0.15, 1, 1) 0s;
  flex: 1 1 0%;
  overflow: auto;
  padding: 1.25rem;
  position: relative;
}

.accordion collapsed {
  overflow: hidden;
  max-height: 0px;
  transition: all 0.5s cubic-bezier(0, 1, 0.3, 1) -100ms;
} */

.accordion svg {
  fill: black;
  width: 20%;
  height: 20%;
  /* vertical-align: top; */
  /* align-self: center; */
  /* justify-content: center; */
  /* position: right; */
  /* align-self: right; */
  /* justify-content: right; */
  /* align-content: center; */
}

/* .accordion button {
  width: 100%;
} */
