.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  font-size: var(--accordion-font-size);
  font-weight: 300;
  font-family: var(--page-heading-font-family);
}
