html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

#__next {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

:root {
  --mobile-pixel-width: 600px;
  /* --purple-dark-color: #8657c7;
  --purple-dark-color-rgb: 134, 87, 199; */

  --color-primary: #203354;
  --color-secondary: white;
  --purple-dark-color: #203354;
  --purple-dark-color-rgb: 32, 51, 84;

  --purple-light-color: #b483cd;

  --primary-font: "HKGrotesk-Bold", sans-serif;
  --create-map-opacity: 0.15;
  --accordion-font-weight: 500;
  --accordion-title-font-size: x-large;
  --accordion-sub-font-size: large;

  --buy-now-btn-color: #23d160;
  --buy-now-btn-hover-color: #1fbb56;

  --page-heading-font-size: 3.5rem;
  --page-heading-font-weight: 300;
  --page-heading-font-family: "HKGrotesk-Bold", sans-serif;

  --page-paragraph-font-size: 1.5rem;
  --page-paragraph-font-weight: 400;
  --page-paragraph-font-family: "Monsterrat", sans-serif;

  --mobile-page-heading-font-size: 1.5rem;
  --mobile-page-heading-font-weight: 300;
  --mobile-page-heading-font-family: "HKGrotesk-Bold", sans-serif;

  --mobile-page-paragraph-font-size: 0.8rem;
  --mobile-page-paragraph-font-weight: 400;
  --mobile-page-paragraph-font-family: "Monsterrat", sans-serif;

  --medium-page-paragraph-font-size: 1rem;
  --medium-page-font-weight: 400;
  --medium-page-font-family: "Monsterrat", sans-serif;
}

@font-face {
  font-family: "HKGrotesk-Bold";
  src: url("../public/fonts/HKGrotesk-Bold.otf");
}

/* @font-face {
  font-family: "Monsterrat";
  src: url("/fonts/Montserrat-VariableFont_wght.ttf");
  font-style: medium;
  font-weight: normal;
} */

@font-face {
  font-family: "Monsterrat";
  src: url("../public/fonts/Montserrat-VariableFont_wght.ttf");
  /* font-weight: 300; */
  /* font-style: normal; */
}
