.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 850px;
  height: 850px;
  border: 3px solid var(--purple-dark-color);
  border-radius: 8px 0 0 8px;
  background-color: rgb(
    var(--purple-dark-color-rgb),
    var(--create-map-opacity)
  );
}

.accordionBox {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 850px;
  border-right: 3px solid var(--purple-dark-color);
  border-top: 3px solid var(--purple-dark-color);
  border-bottom: 3px solid var(--purple-dark-color);
  border-radius: 0 8px 8px 0;
  overflow: hidden;
  background-color: rgb(
    var(--purple-dark-color-rgb),
    var(--create-map-opacity)
  );
}

.accordion header {
  padding: 1.25rem;
  border-bottom: 1px solid var(--purple-dark-color);
  color: rgb(0, 0, 0);
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 600;

  line-height: 1.5rem;
  justify-content: right;
}

.accordion svg {
  fill: black;
  width: 20%;
  height: 20%;
}

.paper {
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  position: relative;
  align-items: center;
  background: "#0000";
}

.textMap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionBtns {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: flex-end;
  width: 99%;
  height: 100%;
  gap: 1px;
  padding-bottom: 1px;
}

@font-face {
  font-family: "Semplicita";
  src: url("../../public/fonts/Semplicita\ Modern\ Medium.otf");
  font-weight: 100;
  font-style: normal;
}
