.sizes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
}

.sizesSegment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.sizes h1 {
  font-size: 3.5rem;
  font-weight: 400;
  color: var(--purple-dark-color);
  font-family: var(--page-heading-font-family);
  padding: 16px 0 0 0;
}

.sizes p {
  margin-top: 1%;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
